.get-started

  p
    margin-top 1rem

  .thumbnail
    box-shadow none
    width 10em
    text-align center

    img
      height 5em

  .main-section
    width 100%

  hr
    margin 4em 0

  pre
    margin 2em 0

@media screen and (max-width: 500px)
  .get-started
    .thumb-section
      display block

    .thumbnail
      width 100%
