doctype html(lang='en')

- var apogeu = 'Apogeu'

include ../_mixins/title

head
    meta(charset='utf-8')
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='keywords', content=`${ apogeu }, node, rails, framework, javascript`)
    meta(name='author', content='https://github.com/apogeu')
    meta(name='description', content=`${ apogeu } - A multi platform rails like framework made for Node.js.`)

    meta(property='og:site_name' content=`${ apogeu }`)
    meta(property='og:description' content=`${ apogeu } - A multi platform rails like framework made for Node.js.`)
    meta(property='og:image' content='/assets/images/apogeu.jpg')
    meta(property='og:image:type' content='image/jpeg')
    meta(property='og:type' content='website')

    block title
        unless yield
            +title()

    link(type="image/x-icon" rel="shortcut icon" href="/assets/images/apogeu.ico")
    link(href='https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/css/foundation.min.css', rel='stylesheet')

    link(href='/assets/stylesheets/main.css', rel='stylesheet')
    link(href="/assets/stylesheets/vendor/highlight.css", rel="stylesheet")
    block head

body
    include ../_includes/navbar

    .row.container
        .small-11.large-centered.columns
            block content

    include ../_includes/footer

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/js/foundation.min.js')
    script(src="/assets/javascripts/vendor/highlight.js")
    script(src='/assets/javascripts/main.js')

    block defer

    include ../_includes/ga
